@page "/Create"
@using Shared.Models
@inject HttpClient httpClient


<PageTitle>Registro Vehiculo</PageTitle>
<EditForm Model="vehiculo" OnValidSubmit="Guardar" FormName="vehiculo">
	<DataAnnotationsValidator />

	<div class="container">
		<div class="card shadow-lg">
			<div class="card-header" style="color: white; background-color: royalblue;">
				<NavLink class="btn btn-light float-end" href="Details">Consultar Vehiculos</NavLink>
				<h1><strong>Crear Vehiculo</strong></h1>
			</div>
			<div class="card-body">

				<div class="row">
					<div class="col-4">
						<label class="fw-bold">Vehiculo ID:</label>
						<div class="input-group mb-3">
							<InputNumber @bind-Value="vehiculo.VehiculoId" class="form-control" aria-describedby="BotonBuscar" />
							<button @onclick="Buscar" class="btn btn-primary bi bi-search-heart" type="button" id="BotonBuscar"></button>
						</div>
						<div class="col-9">
							<label class="form-label fw-bold" for="inputFecha">Fecha:</label>
							<InputDate @bind-Value="vehiculo.Fecha" class="form-control" />
							<ValidationMessage For="@(() => vehiculo.Fecha)" />
						</div>

						<div>
							<label class="form-label fw-bold" for="Descripcion">Descripci&oacute;n</label>
							<InputText @bind-Value="vehiculo.Descripcion" class="form-control" />
							<ValidationMessage For="@(() => vehiculo.Descripcion)" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-3">
						<label class="form-label fw-bold"> Costos:</label>
						<InputNumber @bind-Value="vehiculo.Costo" class="form-control"></InputNumber>
						<ValidationMessage For="@(() => vehiculo.Costo)" />
					</div>
					<div class="col-3">
						<label class="form-label fw-bold"> Gastos:</label>
						<input class="form-control" readonly />
					</div>

				</div>
				<br />


				@*Vehiculo detalle*@
				<fieldset class="border-primmary border border-2">

					<div class="card-body col-3">
						<h3 class="fw-bold">Detalle Vehiculo</h3>
						<div>
							<label class="form-label fw-bold">Accesorios Id:</label>
							<InputSelect @bind-Value="Detalle.AccesorioId" class="form-select">
								<option value="">Seleccione el accesorio</option>
								@foreach (var detalle in ListaAccesorios)
								{
									<option value="@detalle.AccesoriosId">@detalle.Descripcion</option>
								}
							</InputSelect>
							<ValidationMessage For="@(() => Detalle.AccesorioId)" />

							<label class="form-label fw-bold"> Valor:</label>
							<InputNumber @bind-Value="Detalle.Valor" class="form-control"></InputNumber>
							<ValidationMessage For="@(() => Detalle.Valor)" />
						</div>
					</div>

					<div class="card-footer d-flex justify-content-center">
						<button type="button" class="btn btn-success bi bi-plus-square-fill" @onclick="AddDetalle"> Agregar</button>
						<button type="submit" class="btn btn-primary bi bi-floppy">Guardar<i class="oi oi-document" /></button>
					</div>
					<table class='table table-sm justify-content-center'>
						<thead>
							<tr>
								<th>Vehiculo Id</th>
								<th>Accesorios Id</th>
								<th>Valor</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var detalle in vehiculo.VehiculoDetalle)
							{
								var ticketEncontrado = BuscarVehiculo(detalle.VehiculoId);
								<tr>
									<td>@detalle.VehiculoId</td>
									<td>@detalle.AccesorioId</td>
									<td>@detalle.Valor</td>
									<td><button type="button" class="btn btn-danger bi bi-trash" @onclick=@(() => RemoverDetalle(detalle))></button></td>
								</tr>
							}
						</tbody>
					</table>

				</fieldset>
			</div>
		</div>
	</div>

</EditForm>

@code {

	[Parameter]
	public int VehiculoId { get; set; }
	List<Vehiculo> listaSolicitado = new List<Vehiculo>();
	public List<VehiculoDetalle> ListaDetalles = new List<VehiculoDetalle>();
	public List<Accesorios> ListaAccesorios = new List<Accesorios>();
	public Vehiculo vehiculo { get; set; } = new Vehiculo();
	public VehiculoDetalle Detalle { get; set; } = new VehiculoDetalle();

	public bool mensajeVacio;
	public int resultado;
	public bool emisorVacio;

	protected override async Task OnInitializedAsync()
	{
		ListaAccesorios = await httpClient.GetFromJsonAsync<List<Accesorios>>("api/Accesorios");
		if (VehiculoId > 0)
		{
			this.vehiculo.VehiculoId = VehiculoId;
			await Buscar();
		}
	}

	private async Task<Vehiculo> BuscarVehiculo(int vehiculoId)
	{
		Vehiculo vehiculo = new Vehiculo();
		var vehiculoEncontrado = await httpClient.GetFromJsonAsync<Vehiculo>($"api/Vehiculoes/{vehiculoId}");
		if (vehiculoEncontrado != null)
			return vehiculo = vehiculoEncontrado;
		return new Vehiculo();
	}

	public async Task Guardar()
	{
		var response = await httpClient.PostAsJsonAsync("api/Vehiculoes", vehiculo);

		if (!response.IsSuccessStatusCode)
		{
			return;
		}
		vehiculo = new Vehiculo();
	}

	public async Task Buscar()
	{
		var vehiculoIdEncontrado = (await httpClient.GetFromJsonAsync<List<Vehiculo>>($"api/Vehiculoes"))!
		.ToList()
		.Any(v => v.VehiculoId == vehiculo.VehiculoId);
		if (vehiculoIdEncontrado)
		{
			var vehiculoEncontrado = await httpClient.GetFromJsonAsync<Vehiculo>($"api/Vehiculoes/{vehiculo.VehiculoId}");
			if (vehiculoEncontrado != null)
			{
				this.vehiculo = vehiculoEncontrado;
				StateHasChanged();
			}
		}
		else
		{
			return;
		}
	}

	public async Task AddDetalle()
	{
		vehiculo.VehiculoDetalle.Add(Detalle);
		Detalle = new VehiculoDetalle();
		StateHasChanged();
	}


	public async Task RemoverDetalle(VehiculoDetalle detalle)
	{

		var detalleEncontrado = vehiculo.VehiculoDetalle.FirstOrDefault(v => v.Id == detalle.Id);
		if (detalleEncontrado != null)
		{
			var ticket = BuscarVehiculo(detalleEncontrado.VehiculoId);
			detalle = detalleEncontrado;
			Detalle = detalleEncontrado;
			vehiculo.VehiculoDetalle.Remove(detalle);
			await httpClient.DeleteAsync($"api/Vehiculoes/{detalle.Id}");
		}
	}

}