@page "/Details"

@using Shared.Models
@inject HttpClient httpClient

<PageTitle>Dealer</PageTitle>
<EditForm Model="vehiculo">
	<div class="container">
		<div class="card shadow-lg">
			<div class="card-header alert-secondary" style="color: white; background-color: royalblue;">
				<NavLink class="btn btn-light float-end" href="/Create">Registrar Vehiculos</NavLink>
				<h1 class="fw-bols">Consultas Vehiculos</h1>
			</div>

			<table class="table table-striped table-bordered justify-content">
				<thead>
					<tr class="text-center">
						<th>VehiculoId</th>
						<th>Descripci&oacute;n</th>
						<th>Fecha</th>
						<th>Costo</th>
						<th>Gastos</th>
						<th>Editar</th>
						<th>Ver</th>
						<th>Eliminar</th>

					</tr>
				</thead>

				<tbody>
					@foreach (var vehiculo in ListaVehiculo)
					{
						<tr class="text-center">
							<td>@vehiculo.VehiculoId</td>
							<td>@vehiculo.Descripcion</td>
							<td>@vehiculo.Fecha</td>
							<td class="text-center">@vehiculo.Costo.ToString("N2")</td>
							<td>@vehiculo.Gastos</td>
							<td class="text-center">
								<a href="Edit/@vehiculo.VehiculoId" class="btn btn-success bi bi-pencil" />
							</td>
							<td class="text-center"><a href="View/@vehiculo.VehiculoId" class="btn btn-primary bi bi-book"></a></td>
							<td class="text-center"><a href="Delete/@vehiculo.VehiculoId" class="btn btn-danger bi bi-trash"></a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div>@mensaje</div>
	</div>
</EditForm>

@code {
	public Vehiculo? vehiculo { get; set; } = new Vehiculo();
	public string mensaje = "";
	public int? vehiculoEditando = null;

	public int Filtro { get; set; }
	public List<Vehiculo> ListaVehiculo = new List<Vehiculo>();
	public int cuenta { get; set; }

	public DateTime Desde { get; set; }
	public DateTime Hasta { get; set; }


	protected override async Task OnInitializedAsync()
	{
		ListaVehiculo = await httpClient.GetFromJsonAsync<List<Vehiculo>>("api/Vehiculoes");
		Desde = DateTime.Now.AddMonths(-1);
		Hasta = DateTime.Now;
	}


	void Nuevo()
	{
		this.vehiculo = new Vehiculo();
		mensaje = string.Empty;
	}

}
